*.fasta
*.fastq
*.fq.gz
*.bam
*.wig
*.ale
gamod/
.github_password
.github/copilot-instructions.md
assignment/gamod.simg
*fastq.gz
*.DS_Store
??_out
*.bc
*.jf
*.freq.cz
*.stat
soap_denono_2/
*.ale
*.bam
*.bai
*.param
dbg2olc/
masurca/
pilon/
